*.class
*.log
.idea
target
*/target
project/project
*/project/project
project/target
*/project/target
.cache
.classpath
.project
.settings
bin


target/
full/apidoc.json
full/package-lock.json
full/apidoc/
full/_apidoc.js

